.filmtitle {
  color: #f4511e;
  font-weight: bold;
  font-size: 24px;
}

.filmdetails {
  font-size: 20px;
}

#submit {
  color: #f4511e;
  font-weight: bold;
  width: 200px;
  height: 60px;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

.film-menu {
  color: #f4511e;
  font-weight: bold;
  width: 135px;
  height: 60px;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

