.filmtitle {
  color: #f4511e;
  font-weight: bold;
  font-size: 24px;
}

.filmdetails {
  font-size: 20px;
}

.details p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.details li :hover{
  color: #f4511e;
}

#filmy, #users {
  color: #f4511e;
}

#submit {
  color: #f4511e;
  font-weight: bold;
  width: 200px;
  height: 60px;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

#submitIMG {
  color: #f4511e;
  font-weight: bold;
  width: 75px;
  height: 30px;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

#userText {
  width: 60%;
  height: 50px;
  text-align: left;
  /* margin: 8px 0; */
  box-sizing: border-box;
}

#error {
  color: #f4511e;
  font-size: 20px;
  font-weight: bold;
}

.film-menu {
  color: #f4511e;
  font-weight: bold;
  width: 135px;
  height: 60px;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

